* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #dea532;
  --second-color: #dfcca8;
  --third-color: #7e5400;
}

ul {
  background-color: var(--second-color);
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  border-bottom: 2px solid black;
}

button {
  margin-top: 2rem;
  margin-bottom: -2px;
  padding: 1rem 3rem;
  border: 2px solid black;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  background-color: var(--second-color);
}

img {
  height: 400px;
  border-radius: 0.4rem;
  border: 3px solid black;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}

h1 {
  margin: 2rem 0 0.5rem 0;
}

.active-tab {
  background-color: var(--main-color);
  border-bottom-color: var(--main-color);
}